{
 email certbot@newspring.cc
}

live.newspring.cc {
    redir https://newspring.cc/watchlive
}

christmasatnewspring.com, www.christmasatnewspring.com, www.christmasatnewspring.cc, christmasatnewspring.cc {
    redir https://newspring.cc/christmas
}

easteratnewspring.cc, www.easteratnewspring.cc, easteratnewspring.com, www.easteratnewspring.com {
    redir https://newspring.cc/easter
}

eastlan.org, www.eastlan.org {
    redir https://newspring.cc/eastlan
}

forsc.com, www.forsc.com {
    redir https://newspring.cc
}

fuse.church, www.fuse.church, live.newspringfuse.com {
    redir https://newspringfuse.com
}

gauntlet.cc, www.gauntlet.cc {
    redir https://newspring.cc/events/gauntlet
}

kidspring.cc, www.kidspring.cc, kidspring.church, www.kidspring.church, kidspring.com, www.kidspring.com {
    redir https://newspring.cc/kidspring
}

newspring.app, www.newspring.app {
    redir https://newspring.cc/apps
}

newspringmusic.cc, www.newspringmusic.cc, newspringmusic.com, www.newspringmusic.com {
    redir https://newspring.cc/music
}

newspring.network, www.newspring.network, newspringnetwork.cc, www.newspringnetwork.cc {
    redir https://newspringnetwork.com
}

newspringworship.cc, www.newspringworship.cc, newspringworship.com, www.newspringworship.com {
    redir https://newspringnetwork.com/resources/music
}

fsko.cc, www.fsko.cc, myfirststep.cc, www.myfirststep.cc, mynewspring.com, www.mynewspring.com, newspring.church, www.newspring.church, newspring.co, www.newspring.co, newspring.dev, www.newspring.dev, newspring.in, www.newspring.in, newspring.io, www.newspring.io, newspring.me, www.newspring.me, newspring.store, www.newspring.store, newspring.us, www.newspring.us, newspringcollege.cc, www.newspringcollege.cc, newspring.college, www.newspring.college, newspringcollege.com, www.newspringcollege.com, newspringleadershipcollege.com, www.newspringleadershipcollege.com, newspringrally.com, www.newspringrally.com, newspringsummercookout.com, www.newspringsummercookout.com, noordinaryfather.com, www.noordinaryfather.com {
    redir https://newspring.cc
}

theweekend.cc, www.theweekend.cc {
    redir https://newspring.cc/events/the-weekend
}

newspringfuse.com, www.newspringfuse.com {
    redir https://newspring.cc/fuse
}

lovethelowcountry.org, www.lovethelowcountry.org {
    redir https://newspring.cc/locations/bluffton/
}

support.newspring.cc {
    redir https://newspring.freshdesk.com
}

fuse.newspring.cc {
    redir https://newspring.cc/fuse
}
